/* stylelint-disable at-rule-empty-line-before */
:root {
  --hover-color: #2196f3;
  --background-color: #ffffff;
} /* stylelint-disable function-url-quotes */

@font-face {
  font-family: "NotoSerif";
  src: url(/public/NotoSerif-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: "NotoSerif";
  src: url(/public/NotoSerif-VariableFont_wdth\,wght.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-image: url(../public/background.jpg);
  font-family: "NotoSerif";
  font-weight: 800;
}

/* Styling header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Styling logo */
.header_logo {
  flex: 0 0 auto;
}

.logo_img {
  display: block;
  border-radius: 20px;
}

/* Styling nav */
.header_nav_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.header_nav_list_item {
  margin: 0 40px;
}

.header_nav_list_item a {
  text-decoration: none;
  color: #d7dad4;
  font-family: "NotoSerif";
  font-size: 30px;
}

.header_nav_list_item a:hover {
  text-decoration: underline;
}

/* Styling hero section */
.hero_overlay {
  position: relative;
  height: 100vh;
  background: url("../public/hero_background_img.jpg") no-repeat center
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #c5c9be;
  overflow: hidden;
}

/* Overlay effect */
.hero_overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Container inside the hero */
.hero_container {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

/* Hero headline styling */
.hero_name {
  font-size: 48px; /* Adjust size for larger screens */
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button styling */
.hero_mail_button {
  padding: 12px 20px;
  font-size: 30px;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.hero_mail_button:hover {
  background-color: #333;
  color: #fff;
}

/* Styling About Me section */
.about {
  padding: 50px 20px;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 40px;
}

/* Styling image */
.about_container img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Styling text */
.about_text {
  font-size: 23px;
  line-height: 1.6;
  text-align: left;
  max-width: 700px;
}

.skills_list li {
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

img.skill-svg {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 7s linear 0s normal none infinite running rot;
  width: 100px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.works_list {
  display: flex;
  justify-content: center;
}
