/* stylelint-disable at-rule-empty-line-before */
:root {
  --hover-color: #2196f3;
  --background-color: #ffffff;
} /* stylelint-disable function-url-quotes */

@font-face {
  font-family: "NotoSerif";
  src: url(/public/NotoSerif-VariableFont-wdth\,wght.ttf);
}

@font-face {
  font-family: "NotoSerif";
  src: url(/public/NotoSerif-VariableFont-wdth\,wght.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-image: url(../public/background.jpg);
  font-family: "NotoSerif";
  font-weight: 800;
}

/* Styling header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Styling logo */
.header-logo {
  flex: 0 0 auto;
}

.logo-img {
  display: block;
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

/* Styling nav */
.header-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.header-nav-list-item {
  margin: 0 40px;
}

.header-nav-list-item a {
  text-decoration: none;
  color: #d7dad4;
  font-family: "NotoSerif";
  font-size: 30px;
}

.header-nav-list-item a:hover {
  text-decoration: underline;
}

/* Styling hero section */
.hero-overlay {
  position: relative;
  height: 100vh;
  background: url("../public/hero-background-img.jpg") no-repeat center
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #c5c9be;
  overflow: hidden;
}

/* Overlay effect */
.hero-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Container inside the hero */
.hero-container {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

/* Hero headline styling */
.hero-name {
  font-size: 48px; /* Adjust size for larger screens */
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button styling */
.hero-mail-button {
  padding: 12px 20px;
  font-size: 30px;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.hero-mail-button:hover {
  background-color: #333;
  color: #fff;
}

/* Styling About Me section */
.about {
  margin-top: 60px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: nowrap;
  gap: 80px;
  position: relative;
}

.about-text::before {
  content: "";
  height: 350px;
  border: 2px solid rgb(53, 53, 53);
  position: absolute;
  left: 490px;
}

/* Styling image */
.about-container img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Styling text */
.about-text {
  font-size: 23px;
  line-height: 1.6;
  text-align: left;
  max-width: 700px;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  margin-left: 280px;
  margin-right: 280px;
}

.skills-list li {
  display: inline-flex;
}

img.skill-svg {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 9s linear 0s normal none infinite running rot;
  width: 100px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.works-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-left: 200px;
  margin-right: 200px;
  height: 600px;
}

.works-img {
  border: 3px #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.works-img:hover {
  transform: scale(1.05);
}

.works-img:hover {
  border-radius: 14px;
}

.footer {
  height: 180px;
  background-color: rgb(83, 83, 83);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-headline {
  font-size: 30px;
  text-decoration: none;
  color: #d7dad4;
  font-family: "NotoSerif";
}

.footer-social-list {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.footer-social-svg {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease;
}
